<h1>Hello Bishal Jung Thapa</h1>
<h2> This is dyanmic content coming from app.component.ts file</h2>
<p>Hello and my name is {{username}} </p>
<a> He lives in  {{livesin}}</a>
<h1> He has total of Rs{{getUserMoney()}} in his wallet</h1>
<h2>His father and mother name is {{getfathermothername()}}</h2>
<h4>Now lets talk about {{obj.name}}</h4>
<p>He lives in {{obj.address}} and his email is {{obj.email}}</p>
<h1>{{username}} loves to eat {{meealtype[2]}} </h1>
<h2>Arithmetic operation</h2>
<p>20 and 30 sum is {{20 + 30}}</p>
<h1> to get site url {{siteUrl}}</h1>
<nav>
  <ul><a href={{siteUrl}}>Home Page</a></ul>
  <ul><a (click)="aboutUrl()">About Page</a></ul>
  <ul><button (click)="aboutCnn()">Go to CNN</button></ul>

</nav> 


<!-- <app-user-list></app-user-list> 
<app-login></app-login>
<app-signup></app-signup> 
<app-forms></app-forms> -->

