$fontfamily: 'Catamaran', sans-serif;
$backgroundcolor: #fff;
$fontsize: 100px;
$twentypx:20px;
$background: #39ac31;
$width: 100px;
$fofcolor: red;
$textaligns: center;
$inherit: inherit;
$position: absolute;
$zero: 0;
